.book-edit-form {
  display: flex;
  flex-direction: column;

  outline: 1px solid #ccc;
  padding: 1em;
  border-radius: 10px;
  text-transform: capitalize;
  gap: 0.5em;
}

.book-edit-form input {
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 2em;
}

.book-edit-form textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.book-edit button {
  align-self: flex-end;
}
