.book-index {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1em;
}

.book-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1em;
}

.book-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: min-content;
  gap: 0.5em;
}

.add-book-btn {
  align-self: center;
}

.form-filter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

  gap: 0.5em;
}

.book-filter button {
  align-self: flex-end;
}
